Port 22
HostKey /config/etc/ssh/ssh_host_rsa_key
HostKey /config/etc/ssh/ssh_host_ecdsa_key
HostKey /config/etc/ssh/ssh_host_ed25519_key
AuthorizedKeysFile .ssh/authorized_keys
PermitRootLogin no
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
AllowUsers git
